.container {
  background-color: #444;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  width: 300px;
}

.listItem {
  list-style: none; /* Fjerner prikkene */
  padding: 8px;
  border-bottom: 1px solid #555;
  font-size: calc(10px + 2vmin)
}

.listItem:last-child {
  border-bottom: none; /* Fjerner linjen på det siste elementet */
}
